<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PA Park Weather Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
</head>
<body>

<h1>Here Are Your Weather Forecasts</h1>
    <table>
        <tr>
            <th>Park Name</th>
            {% for date in date_headers %}
                <th>{{date}}</th>
            {%endfor%}
        </tr>
        {% for park_name in park_names %}
        <tr>
            <td>{{park_name}}</td>
            <td>{{chances_of_rain_list_of_lists[loop.index0][0]}}</td>
            <td>{{chances_of_rain_list_of_lists[loop.index0][1]}}</td>
            <td>{{chances_of_rain_list_of_lists[loop.index0][2]}}</td>
            <td>{{chances_of_rain_list_of_lists[loop.index0][3]}}</td>
            <td>{{chances_of_rain_list_of_lists[loop.index0][4]}}</td>
            <td>{{chances_of_rain_list_of_lists[loop.index0][5]}}</td>
            <td>{{chances_of_rain_list_of_lists[loop.index0][6]}}</td>
            <td>{{chances_of_rain_list_of_lists[loop.index0][7]}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>